Source: hummingbird
Section: unknown
Priority: optional
Maintainer: Lars Petersen <info@lars-petersen.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/lpeterse/haskell-hummingbird

Package: hummingbird
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A high performance multi-threaded MQTT 3.1.1 broker
